header{
    width: 1920px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1174PX;
    margin-left: 24px;
    margin-right: 40px;
}
.hd1{
    width: 538px;
    height: 40px;
    display: flex;
    gap: 194px;
}
.hd1 img{
    width: 40px;
    height: 40px;
}
.input{
    height: 40px;
    width: 304px;
background-color: #F7F7F7;
text-align: center;
font-family: inter;
font-size: 16px;
border-radius: 32px;
padding: 0;
border: 0;
}
.himg{
    width: 144px;
    height: 40px;
}
.s1{
    width: 1920px;
    height: 228px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1005px;
    border-top: 1px solid #CCCCCC;
}
.s1d1{
    width: 287px;
    height: 100px;
    margin-top: 80px;
    gap: 16px;
}
.s1d1 h1{
    margin: 0;
    font-family: inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1%;
    width: 287px;
    height: 76px;
}
.s1d2{
    width: 108px;
    height: 40.21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 139.79px;
    border: 1.12px solid #CCCCCC;
    border-radius: 8px;
}
.filter{
    width: 24px;
    height: 24px;
}
.s1d2 h4{
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;
    width: 52px;
    height: 16px;
}
.s2{
    width: 1400px;
    height: 1389px;
    margin-left: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    
}
.logo{
    width: 40px;
    height: 40px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 280px;
    position: absolute;
}
.img{
    width: 292px;
    height: 132px;
    padding-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
    object-fit: contain;
    object-position: center;

}
.cart h1{
    width: 292px;
    height: 20px;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3%;
    color: #363636;
    margin: 0;
}
.cart h4{
    width: 292px;
    height: 41px;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #828282;
    margin: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
    padding-top: 12px;
}
.cart h2{
    width: 89px;
    height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;
    margin: 0;
}
.free{
    width: 292px;
    height: 18px;
    margin-bottom: 24px;
}
.button{
    width: 292px;
    height: 36px;
    border-radius: 38px;
    border: 1px solid #18A661;

    gap: 6px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #18A661;
    padding: 2px;
}
.cart{
    width: 332px;
    height: 416px;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;;
}
.cart:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 2);
}
.c1{
    width: 292px;
    height: 73px;
}
.c2{
    gap: 12px;
    width: 292px;
    height: 67px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.line{
    width: 292px;
    height: 1px;
    background-color: #CCCCCC;
    margin-top: 12px;
    margin-bottom: 12px;
}
.c{
    margin-left: 20px;
}
.cart6{
    width: 332px;
    height: 373px;
    padding-bottom: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h41{
    width: 95px; height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;  
}
.h42{
    width: 82px; height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;  
}
.h4d1{
    width: 127px;
    height: 40.21px;
    border: 1.12px solid #363636;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c6d2{
    width: 332px;
    height: 138.5px;
}.h43{
    width: 82px; height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;     
}
.h44{
    width: 86px; height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;    
}
.h45{
    width: 150px; height: 16px;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #363636;     
}
.h4d2{
    width: 114px;
    height: 40.21px;
    border: 1.12px solid #363636;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4d3{
    width: 114px;
    height: 40.21px;
    border: 1.12px solid #363636;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.h4d4{
    width: 118px;
    height: 40.21px;
    border: 1.12px solid #363636;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.h4d5{
    width: 182px;
    height: 40.21px;
    border: 1.12px solid #363636;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d{
    width: 249.94px;
    height: 40.21px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8.94px;
}.d3{
    width: 182px;
    height: 40.21px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.c6d2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cart6 h1{
    text-align: center;
    margin-top: 0;
}
.s1{
border-top: 1px solid ;
}
.d13{
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d13 div{
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.d13 h4{
    width: 140px;
    height: 24px;
    font-family: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #363636;
    margin: 0;
}
.winner{
    width: 16px;
    height: 16px;
}
.p{
    width: 97px;
    height: 36px;
    background-color: #FFAB0A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 0px;
    margin-left: 20px;
    position: absolute
}
.pp{
    width: 48px;
    height: 14px;
    font-family: inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.sline{
    width: 1px;
    height: 16px;
    background-color: #FFFFFF;
}
.k{
    width: 332px;
    height: 416px;
}
.b{
    width: 119px;
    height: 36px;
    background-color: #EB4C60;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 0px;
    margin-left: 20px;
    position: absolute    
}
.bp{
    width: 70px;
    height: 14px;
    font-family: inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;    
}
.off{
    width: 63px;
    height: 24px;
    border: 1px solid #363636;
    border-radius: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.off p{
    width: 47px;
    height: 12px;
    font-family: inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #363636;
}
.price{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: center;
}