@font-face {
  font-family: WorkSans;
  src: url(./Work_Sans/WorkSans-VariableFont_wght.ttf);
}
.parent {
  width: 100%;
  height: 926px;
  font-family: WorkSans;
  background-color: rgb(172, 27, 2);
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
}
.h1 {
  width: 487px;
  height: 416px;
  font-size: 88px;
  color: white;
  margin: 134px 0 20px 0;
}
.p1 {
  width: 487px;
  height: 96px;
  font-size: 24px;
  color: white;
}
.button {
  width: 231px;
  height: 82px;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid rgba(229, 185, 75, 1);
  align-items: center;
  background-color: rgba(229, 185, 75, 1);
  font-size: 32px;
  color: black;
}
.d1 {
  position: absolute;
}
.s1 {
  width: 656px;
  height: 656px;
  margin: 64px 720px 0 64px;
  background-color: rgba(229, 185, 75, 1);
  border-radius: 50%;
  position: absolute;
}
.s2{
  position: absolute;
  margin: 134px 64px 118px 889px;
}
.img {
  
  z-index: 1;
 object-fit: cover;
  margin: 64px 720px 0 64px;
  
}
