@font-face {
  font-family: Avenir;
  src: url(./Avenir/AvenirRegular/AvenirRegular.ttf);
}

.parent {
  width: 100%;
  height: 926px;
  font-family: Avenir;
}

.h1 {
  width: 833px;
  height: 176px;
  margin-top: 64px;
  margin-left: 64px;
  font-size: 72px;
}

.s2 {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 64px;
  gap: 16px;
}

.h2 {
  font-size: 40px;
  width: 316px;
  height: 55px;
  color: rgba(37, 37, 37, 0.35);
}

.p1 {
  font-size: 24px;
  width: 316px;
  height: 66px;
  color: rgba(37, 37, 37, 0.8);
}
.d1 {
  background-image: url(./1.jpg);
}
.d2 {
  background-image: url(./2.jpg);
}
.d3 {
  background-image: url(./3.jpg);
}
.d4 {
  background-image: url(./4.jpg);
}
#img {
  background-position: center;
  background-size: 100%;
  width: 316px;
  height: 402px;
  border-radius: 24px;
  display: grid;
  grid-template-rows: max-content;
  align-content: end;
  justify-content: end;

}

.h3 {
  width: 48px;
  height: 33px;
  font-size: 24px;
  color: rgba(37, 37, 37, 1);
  padding: 0px 0 24px 24px;
  margin: 0 0 0 0;
}

.p2 {
  width: 213px;
  height: 66px;
  font-size: 16px;
  color: rgba(37, 37, 37, 1);
  padding: 0px 0 24px 24px;
  margin: 0 0 0 0;
}
