@font-face {
  font-family: WorkSans;
  src: url(./Work_Sans/WorkSans-VariableFont_wght.ttf);
}
.parent {
  width: 1440px;
  height: 926px;
  font-family: WorkSans;
  background-color: rgb(172, 27, 2);
  display: flex;
  flex-direction: row;
}
.h1 {
  width: 487px;
  height: 416px;
  font-size: 88px;
  color: white;
  margin: 134px 0 20px 0;
}
.p1 {
  width: 487px;
  height: 96px;
  font-size: 24px;
  color: white;
}
.button {
  width: 231px;
  height: 82px;
  gap: 10px;
  border-radius: 36px;
  border: 1px solid rgba(229, 185, 75, 1);
  align-items: center;
  background-color: rgba(229, 185, 75, 1);
  font-size: 32px;
  color: black;
}
.d1 {
  position: absolute;
}
.dot {
  padding: 530px 0 0 432px;
}
.s1 {
  width: 656px;
  height: 656px;
  margin-top: 88px;
  margin-left: 64px;
  margin-right: 169px;
  background-color: rgba(229, 185, 75, 1);
  border-radius: 50%;
  position: relative;
}
.img {
  position: absolute;
  z-index: 1;
  width: 618.3333129882812px;
  height: 100%;
  margin: 0 0 0 0;
  
}
