.body {
  width: 1440px;
  height: 926px;
  background: linear-gradient(122.62deg, #c8cccf 5.59%, #97a3a3 84.01%);
  font-family: Poppins;
}
.s1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 0 0 0 0;
}
.h1 {
  width: 756px;
  height: 104px;
  color: rgba(54, 56, 48, 1);
  font-size: 88px;
  font-weight: 700;
  margin: 0 0 20px 0;
  font-style: Bold;
}
.p1 {
  width: 659px;
  height: 108px;
  font-size: 24px;
  color: rgba(54, 56, 48, 1);
}
.button {
  width: 182px;
  height: 66px;
  gap: 10px;
  border-radius: 36px;
  align-items: center;
  color: white;
  background-color: rgba(54, 56, 48, 1);
  font-size: 24px;
}
.d1 {
  margin: 64px 0 0 295px;
  position: absolute;
  z-index: 1;
}
.img1 {
  width: 537.3952026367188px;
  height: 512px;
  margin-left: 838.6px;
}
.s2 {
  margin: 0 0 0 0;
}
.img2 {
  width: 462px;
  height: 508px;
  padding: 458px 0 0 64px;
  position: absolute;
}
.d2 {
  position: absolute;
  width: 948px;
  height: 272px;
  gap: 8px;
  margin-top: 591px;
  margin-left: 428px;
  border-radius: 250px;
  padding-top: 40px;
  padding-right: 88px;
  padding-bottom: 40px;
  padding-left: 88px;
  background: linear-gradient(
    95.95deg,
    rgba(255, 255, 255, 0.3) 6.59%,
    rgba(255, 255, 255, 0.18) 96.07%
  );
  display: flex;
  flex-direction: row;
}
.h2 {
  width: 38px;
  height: 36px;
  font-size: 24px;
  color: rgba(54, 56, 48, 1);
}
.p2 {
  width: 204px;
  height: 120px;
  font-size: 16px;
}
.content{
    padding-right: 80px;
    padding-left: 58px;

}
