.body {
  width: 100%;
  height: 926px;
  background: linear-gradient(122.62deg, #c8cccf 5.59%, #97a3a3 84.01%);
  margin: 0 0 0 0;
  font-family: Poppins;
}
.d1 {
  width: 756px;
  height: 310px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 64px;
  left: 245px;
  gap: 16px;
  z-index: 1;
}
.h1 {
  width: 756;
  height: 104;
  font-size: 88px;
  line-height: 104px;
  font-weight: 700;
  margin: 0 0 0 0;
  color: rgba(54, 56, 48, 1);
}
.p1 {
  width: 659px;
  height: 108px;
  font-size: 24px;
  margin: 0 0 0 0;
  font-weight: 400;
  line-height: 100%;
  color: rgba(54, 56, 48, 1);
}
.button {
  width: 182px;
  height: 66px;
  border-radius: 36px;
  align-items: center;
  font-size: 24px;
  background-color: rgba(54, 56, 48, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.img1 {
  position: absolute;
  width: 537.3952026367188px;
  height: 512px;
  left: 788.6px;
}
.img2 {
  width: 462px;
  height: 508px;
  position: relative;
  top: 418px;
  left: 14px;
}
.d2 {
  width: 948px;
  height: 272px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  top: 591px;
  left: 378px;
  gap: 8px;
  border-radius: 144px;
  background: linear-gradient(
    95.95deg,
    rgba(255, 255, 255, 0.3) 10.59%,
    rgba(255, 255, 255, 0.18) 85.07%
  );
}
.h2 {
  width: 38px;
  height: 36px;
  font-size: 24px;
  margin: 0 0 0 0;
}
.img3 {
  width: 38ox;
  height: 4px;
  margin: 0 0 0 0;
}
.p2 {
  width: 204px;
  height: 120px;
  font-size: 16px;
  margin: 0 0 0 0;
}
