@font-face {
  font-family: Avenir;
  src: url(./Avenir/AvenirRegular/AvenirRegular.ttf);
}
.body {
  width: 100%;
  height: 1024pxx;
  margin: 0 0 40px 24px;
}
.s1 {
  width: 637px;
  height: 477px;
  top: 64px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 24px;
}
.h1 {
  width: 637px;
  height: 264px;
  font-size: 72px;
  margin: 0 0 0 0;
  color: rgba(37, 37, 37, 1);
  font-family: Avenir;
  line-height: 88px;
}
.p1 {
  width: 519px;
  height: 99px;
  font-size: 24px;
  color: rgba(37, 37, 37, 0.8);
  font-family: Avenir;
  margin: 0 0 0 0;
}
.button {
  width: 182px;
  height: 66px;
  gap: 10px;
  font-size: 24px;
  border-radius: 36px;
  align-items: center;
  background-color: rgba(37, 37, 37, 1);
  color: white;
  font-family: Poppins;
  margin: 0 0 0 0;
}
.img1 {
  position: absolute;
  width: 316px;
  height: 436px;
  border-radius: 24px;
  top: 524px;
  left: 343px;
  bottom: 64px;
}
.img2 {
  position: absolute;
  width: 316px;
  height: 436px;
  border-radius: 24px;
  top: 282px;
  left: 683px;
  object-fit: cover;
}
.img3 {
  position: absolute;
  width: 316px;
  height: 436px;
  border-radius: 24px;
  top: 67px;
  left: 1023px;
  object-fit: cover;
}
.wave {
  position: absolute;
  top: 91px;
left: 458px;  
}
.sprial {
  position: absolute;
  top: 674px;
  bottom: 66.12px;
  left: 18px;
}
.dwan {
position: absolute;
  top: 398px;
  left: 556px;
}
.dwan2 {
  position: absolute;
  top: 541px;
  left: 1055px;
}
.s3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 668px;
  height: 122px;
  top: 838px;
  bottom: 64px;
  left: 668px;
  position: absolute;
  
}
.img4 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.p2 {
  width: 516px;
  height: 90px;
  font-size: 22px;
  color: rgba(37, 37, 37, 0.8);
  font-family: Avenir;
}
